<!DOCTYPE html>

<html lang="en">
<head>
	<metacharset="utf-8">
	<title>Bootstrap Setup</title>
	<meta name "descriptions" = content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">


</head>


<body>

<div id="remote">
  <input id="test" class="typeahead" type="text" placeholder="Oscar winners for Best Picture">
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="../static/typeahead.jquery.js"></script>
	<script src="../static/bloodhound.js"></script>
	
	<script>	
	var bestPictures = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote:'../streets/%QUERY'

});
 
bestPictures.initialize();
 
$('#remote .typeahead').typeahead(null, {
  name: 'best-pictures',
  displayKey: 'value',
  source: bestPictures.ttAdapter()
});
</script>

</body>
</html>